* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

:root {
  --color-light: #ffffff;
  --bgColor-dark: #000;
  --bgColorPurple: #9062B5;
  --colorPurple: #9062B5;
}

header {
  width: 85%;
  border-radius: 40px;
  border: 1px solid #9062B5;
  background: rgba(255, 255, 255, 0.027);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  margin: 1rem auto 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding: .7rem;
  background-color: transparent;
  border: none;
}

nav ul  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
       padding: .5rem;

}

nav img {
  width: 40px;
  padding: .5rem;
}

nav li {
  color: white;
}

nav a {
  color: var(--colorPurple);
}

p, h1 {
  color: var(--color-light);
}

.particles-container h1 {
  text-align: center;
  font-size: 2.6rem;
  padding: 0 1rem ;
}

.particles-container p {
  text-align: center;
  font-size: 1.5rem;
}

.title {
  margin: 8rem 0;
}

.about-container {
  background-color: var(--bgColor-dark);
  width: 100vw;
  display: grid;
  justify-items: center;
}

.about-container img {
  width: 300px;
}

 .about-container p {
  line-height: 2rem;
  padding: 0 2.5rem;
}

.about-container h2, .skills-container h2, .contact-container h2  {
  padding-top: 3rem;
  color: var(--bgColorPurple);
  font-size: 2.5rem;
}

.skills-container {
  display: grid;
  background-color: var(--bgColor-dark);
  width: 100vw;
  /* height: 82rem; */
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  row-gap: 2rem;

}

.skills-container h2 {
  grid-column: 1 / -1;
  padding-bottom: 3rem;
}

.skills-container img {
  width: 100px;
}

.node-logo {
  grid-column: 1 / -1;
}

.project-container {
  background-color: var(--bgColor-dark);
  display: grid;
  justify-items: center;
  padding-top: 6rem;
}

.project-container img {
  width: 330px;
}

.project-container h2 {
  color: var(--color-light);
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3rem;
  text-decoration: none;
}

.project-container h1 {
  color: var(--colorPurple);
  grid-column: 1 / -1;
  padding-bottom: 4rem;
  font-size: 2.5rem;
}

.contact-container {
  background-color: var(--bgColor-dark);
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.contact-container h2 {
  padding-bottom: 2rem;
}

.contact-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.8rem;
  list-style-type: none;
}

.contact-icon {
  color: var(--colorPurple);

}

.contact-container a {
  color: var(--color-light);
}

footer {
  background-color: var(--bgColorPurple);
  display: grid;
  justify-items: center;
  padding: 2rem;
  row-gap: 1rem;
}

footer img {
  width: 100px;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: 1.7rem;
}

footer li a, footer button {
  color: var(--color-light);
  font-size: 1.5rem;
}

button {
  background-color: transparent;
  color: var(--colorPurple);
  border: none;
  font-size: 1rem;
}

.hero-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px; /* Adjust height as needed */
  z-index: -1; /* Place the particles behind other content */
  z-index: -1;
}



@media screen and (min-width: 768px) {
  header {
    width: 65%;
  }

  .title {
    margin: 20rem 0;
  }

  .particles-container h1 {
    font-size: 5rem;
    padding: 0 1rem ;
  }
  
  .particles-container p {
    font-size: 2.2rem;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    height: 45rem;

  }
}

@media screen and (min-width: 768px) {
  .project-container img {
    width: 370px;
  }

}

@media screen and (min-width: 1024px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about-container h2 {
    font-size: 3.2rem;
    grid-column: 1 / -1;
  }

  .about-container p {
    padding: 0 4rem;
  }

.project-container {
  grid-template-columns: repeat(2, 1fr);
}
}